body {
    background-color: azure;
    line-height: 1.0;
}

.container{
width: 80%;
margin-inline:auto;
padding: 20px;

}
h1{
    color:rgb(43,0,83);
}
h2{
color: rgb(3, 20, 177);
}
h3{
    color:rgb(28, 66, 28)
}
header{
    background-color: #36197c;
    color: #fff;
    text-align: center;
    padding: 10px;
}
header h1,
a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
img.dp{
border-radius: 50%;

}
.section{
    margin-bottom: 20px;

}
.section,
.Education,
.Experience,
.Project
 h1{

    border-bottom: 6px solid #0056b3;
    padding-bottom: 5px;
}
        .Project,
        .Experience,
        .Education {
            list-style: none;
            padding: 0;
        }

.Experience li,
.Education li,
.Project li{

margin-bottom: 10px;

}

nav ul{

list-style-type:none;
margin:0;
padding: 0;
overflow: hidden;
background-color: #333;

}
nav li{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
 nav li a:hover{
    background-color: #111;
 }
 nav li {
    float: left;
}
