
body{
background-color:#FF9966;


}


h2 {
    color: black;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }

    h2.mid{
        text-align: center;
        
    }
        
.utama{
text-align: center;
font-family: 'Times New Roman', Times, serif;

}
.bgdarks{
background-color: darkolivegreen;
}
.text-whites{

color: white;
text-align: center;

}
.list{
    list-style: decimal;
}

#content{

background-color: lightgrey;
margin: 20px 15px 15px 20px;
padding: 10px 5px 5px 10px ;


}
.container .box p{

margin: 20px 15px 15px 20px;

border-color: black solid black;


}
.container{
background-color: antiquewhite;
margin: 5px 4px 4px 5px;

}
.toUppercase{
text-transform: uppercase;

text-shadow:2px 2px #ff0000;

}

input[type= "text"],[type="email"]{
width: 100%;
padding: 8px;
margin-bottom: 10px;
border :1px solid#ccc;
border-radius: 3px;
box-sizing: border-box;
}

button[type="submit"]{
background-color: #04AA6D;
color:black;
border: none;
padding:10px 20px;
border-radius:3px ;
cursor: pointer;

}

button[type="submit"]:hover{
background-color:cornsilk;

}

p::first-letter{
font-size: 2em;
color: black;
padding:2px;

}